<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title></title>
</head>
<body>
    edit page
    <a href="/diary"><button>Return to diary</button></a>
    <a href="/home"><button>Return Home</button></a>
       <div id="upper">
        
        <% let index = 0 %>
        <% for (let i of entry.cards){ %>
            <% let card = {}%>
            
            <% for (let item of Deck.cards){ %>
                <% if (item.suit === i.suit && item.number===i.number){ %>
                <% card = item %>
                <%}}%>
    
            <div class="card<% if (i === entry.cards[0]){ %> signifier <% } %>" >
                <img src="../cards/<%=card.img%>"></img>
                <form action="/diary/<%=entry._id%>?_method=PUT" method="POST">
                    <input type="text" name="number"  value="<%=card.number%>">
                    of
                    <input type="text" name="suit" value="<%= card.suit %>" placeholder="Trump, Swords, Wands, Pentacles, Cups">
                    <input type="number" name="index" value="<%= index %>" class="hidden">
                <button type="submit"> Submit changes</button>
            </form>
</div>

        <%index++}%>
        <div id="lower">
            <form action="/diary/<%=entry._id%>?_method=DELETE" method="post"><button type="submit" value="DELETE">Delete this entry (warning: permanent!)</button></form>

        </div>
    </div> 
</body>
</html>